<article class="post" id="post0" *ngFor="let item of posts">
  <header class="post-header">
    <h2 class="post-title">
        <a [href]="item.href">{{ item.title }}</a>
    </h2>
    <div class="post-info clearfix">
      <span class="post-date"><i class="glyphicon glyphicon-calendar"></i>2016/04/30 18:05</span>
      <span class="post-author"><i class="glyphicon glyphicon-user"></i><a href="http://blog.miniasp.com/author/will.aspx">Will 保哥</a></span>
      <span class="post-category"><i class="glyphicon glyphicon-folder-close"></i><a href="http://blog.miniasp.com/category/Visual-Studio.aspx">Visual Studio</a></span>
    </div>
  </header>
  <section class="post-body text" [innerHTML]="item.summary">
  </section>
</article>

